{{extend 'layout.html'}}
<h2 style="color:blue">About</h2>
<p>Project X provides the opportunity to the developers to interact with people by enabling them to upload their projects in the fields of games,mobiles etc.<p/>
<p>People can view the public projects and experience a different world by taking an insight of the project.They can also comment,rate and download a project.<p/>
<p>The developers can update their projects and also provide a manual which will tell the users how to operate the project.For creating a project, you must be a registered user.</p>

